<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/oasystem</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">admin</property>
		
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<property name="show_sql">true</property>
		
		<property name="current_session_context_class">thread</property>
		
		<!-- 配置映射文件 -->
		 <mapping resource="com/oasystem/entity/User.hbm.xml" />	
	</session-factory>
</hibernate-configuration>